@page
@model VersedApi.Pages.IndexModel
@{
    ViewData["Title"] = "Index";
}

<div class="main" style="text-align: center; font-family: 'Consolas';"">

<h1 style=" color: darkslategrey; margin: 2rem;">Welcome to VersedAPI</h1>
    <p>Visit the api documentation <a href="/swagger">here.</a></p>
</div>